[submodule "submodules/wiringPi"]
	path = submodules/wiringPi
	url = git://git.drogon.net/wiringPi

[submodule "submodules/shpotify"]
	path = submodules/shpotify
	url = https://github.com/hnarayanan/shpotify

[submodule "submodules/dataplicity"]
	path = submodules/dataplicity
	url = https://github.com/wildfoundry/dataplicity-agent

[submodule "submodules/dashboard"]
	path = submodules/dashboard
	url = https://github.com/initialstate/pi-process-dashboard

